In [1]:
import cenpy as cen
import pandas as pd
import numpy as np
import requests

C:\Users\johnh\.conda\envs\census_env\lib\site-packages\libpysal\weights\util.py:20: UserWarning: geopandas not available. Some functionality will be disabled.
  warn('geopandas not available. Some functionality will be disabled.')

In [2]:
df_index = [cen.explorer.available(verbose = False)]
df_index

[['CBP1986',
  'ZBPTotal1994',
  'CBP1987',
  'CBP1995',
  'CBP1988',
  'CBP1989',
  'ZBPTotal1995',
  'CBP1990',
  'POPESTintercensalcharagegroups1990',
  'ZBPTotal1997',
  'POPESTintercensalnatcivpop1990',
  'POPESTintercensalnatresafo1990',
  'POPESTintercensalnatrespop1990',
  'CBP1996',
  'DecennialSF11990',
  'DecennialSF31990',
  'ZBPTotal1996',
  'CBP1991',
  'CBP1997',
  'CBP1992',
  'CBP1993',
  'EWKS1997',
  'CBP1994',
  'NONEMP1997',
  'CBP1998',
  'NONEMP1998',
  'ZBPTotal1998',
  'CBP1999',
  'NONEMP1999',
  'ZBPTotal1999',
  'CBP2000',
  'NONEMP2000',
  'POPESTintercensalcharage2000',
  'POPESTintercensalcharagegroups2000',
  'ZBPTotal2002',
  'POPESTintercensalhousing2000',
  'POPESTintercensalnatmonthly2000',
  'POPESTintercensalpop2000',
  '2000sf1',
  'NONEMP2001',
  '2000sf3',
  'DecennialSurname2000',
  'ZBPTotal2001',
  'ZBPTotal2000',
  'CBP2001',
  'CBP2002',
  'EWKS2002',
  'NONEMP2002',
  'CBP2003',
  'ACSCP1Y2010',
  'NONEMP2003',
  'ZBPTotal2003',
  'CBP2004',
  'NONEMP2004',
  'ZBPTotal2004',
  'CBP2005',
  'NONEMP2005',
  'ZBPTotal2005',
  'CBP2006',
  'NONEMP2006',
  'ZBPTotal2006',
  'CBP2007',
  'EconCensusEWKS2007',
  'NONEMP2007',
  'ZBPTotal2007',
  'CBP2008',
  'NONEMP2008',
  'ZBPTotal2008',
  'ACSSF5Y2009',
  'ACSFlows2009',
  'CBP2009',
  'NONEMP2009',
  'ZBPTotal2009',
  'ACSDT1Y2010',
  'ACSDP1Y2010',
  'ACSST1Y2010',
  'ACSDT5Y2010',
  'ACSDP5Y2010',
  'ACSST5Y2010',
  'ZBPTotal2010',
  'ACSFlows2010',
  'CBP2010',
  'DECENNIALCD1132010',
  'DECENNIALCD1152010',
  'DECENNIALSF12010',
  'DECENNIALSF22010',
  'NONEMP2010',
  'ACSCP1Y2011',
  'DecennialSurname2010',
  'ACSCD1132011',
  'ACSDT1Y2011',
  'ACSDP1Y2011',
  'ACSST1Y2011',
  'ACSDT5Y2011',
  'ACSProfile5Y2011',
  'ACSST5Y2011',
  'ACSDT1Y2012',
  'ACSFlows2011',
  'CBP2011',
  'NONEMP2011',
  'ACSCP1Y2012',
  'ZBPTotal2011',
  'ACSDP1Y2012',
  'ACSST1Y2012',
  'ACSDT5Y2012',
  'ACSDP5Y2012',
  'ACSST5Y2012',
  'ECNBRIDGE22012',
  'ACSFlows2012',
  'CBP2012',
  'ECNADMBEN2012',
  'ECNBASIC2012',
  'ECNBRANDDEAL2012',
  'ECNBRIDGE12012',
  'ECNCASHADV2012',
  'ECNBRORDEAL2012',
  'ECNCCARD2012',
  'ECNINVVAL2012',
  'ECNCLCUST2012',
  'ECNIPA2012',
  'ECNCOMM2012',
  'ECNKOB2012',
  'ECNCOMP2012',
  'ECNLABOR2012',
  'ECNFRAN2012',
  'ECNCONACT2012',
  'ECNCONCESS2012',
  'ECNLIFOMFG2012',
  'ECNCRFIN2012',
  'ECNLIFOMINE2012',
  'ECNGRANT2012',
  'ECNDISSMED2012',
  'ECNEMPFUNC2012',
  'ECNLIFOVAL2012',
  'ECNENTSUP2012',
  'ECNLINES2012',
  'ECNGUEST2012',
  'ECNEOYINV2012',
  'ECNEOYINVWH2012',
  'ECNLOAN2012',
  'ECNEQUIP2012',
  'ECNLOCMFG2012',
  'ECNGUESTSIZE2012',
  'ECNEXPNRG2012',
  'ECNEXPSVC2012',
  'ECNLOCMINE2012',
  'ECNFLSPACE2012',
  'ECNMARGIN2012',
  'ECNFOODSVC2012',
  'ECNHOSP2012',
  'ECNMATFUEL2012',
  'ECNMEALCOST2012',
  'ECNMENUTYPE2012',
  'ECNPATIENT2012',
  'ECNPETRFAC2012',
  'ECNPETRPROD2012',
  'ECNPETRREC2012',
  'ECNPETRSTAT2012',
  'ECNPROFIT2012',
  'ECNPURELEC2012',
  'ECNPURMODE2012',
  'ECNRDACQ2012',
  'ECNRDOFC2012',
  'ECNSEAT2012',
  'ECNSIZE2012',
  'ECNSOCIAL2012',
  'ECNTYPE2012',
  'ECNTYPOP2012',
  'ECNVALCON2012',
  'EWKS2012',
  'NONEMP2012',
  'SBOCSCBO12',
  'POPPROJBirths2012',
  'ZBP2012',
  'POPPROJDeaths2012',
  'POPPROJNIM2012',
  'ACSDT1Y2013',
  'POPPROJPop2012',
  'pubschlfin2012',
  'SBO2012',
  'SBOCSCB12',
  'ACSDT5Y2013',
  'CBP2013',
  'ACSCP1Y2013',
  'ACSDP1Y2013',
  'ACSST1Y2013',
  'ACSDP5Y2013',
  'ACSST5Y2013',
  'ACSFlows2013',
  'ACSLANG5Y2013',
  'NONEMP2013',
  'POPESTcochar52013',
  'POPESTcochar62013',
  'POPESTcty2013',
  'PEPHOUSING2013',
  'POPESTmonthlynatchar52013',
  'POPESTmonthlynatchar62013',
  'POPESTnatstprc182013',
  'POPESTnatstprc2013',
  'POPESTprcagesex2013',
  'POPESTprm2013',
  'POPESTprmagesex2013',
  'POPESTstchar52013',
  'POPESTstchar62013',
  'POPESTsubcty2013',
  'ZBP2013',
  'ACSDT1Y2014',
  'ACSCP1Y2014',
  'ACSDP1Y2014',
  'ACSST1Y2014',
  'ACSDT5Y2014',
  'ACSDP5Y2014',
  'ACSST5Y2014',
  'ACSSE2014',
  'ACSFlows2014',
  'ASECSA2014',
  'ASECSCB2014',
  'ASECSCBO2014',
  'CBP2014',
  'POPESTagesex',
  'ftdImpExpHist',
  'NONEMP2014',
  'POPESTprcagesex2014',
  'POPESTagespecial5',
  'POPESTprm2014',
  'POPESTagespecial6',
  'POPESTprmagesex2014',
  'ZBP2014',
  'POPESTagespecialPR',
  'POPESTPROJnim2014',
  'POPESTcochar52014',
  'POPESTPROJagegroups2014',
  'POPESTcochar62014',
  'POPESTPROJprojections2014',
  'POPESTcty2014',
  'POPESTstchar52014',
  'PEPHOUSING2014',
  'POPESTPROJbirths2014',
  'POPESTnatstprc2014',
  'POPESTmonthlynatchar52014',
  'POPESTmonthlynatchar62014',
  'POPESTPROJdeaths2014',
  'POPESTPROJnat2014',
  'POPESTnatstprc182014',
  'POPESTstchar62014',
  'POPESTsubcty2014',
  'ZBP2015',
  'ACSCD1152015',
  'ACSDT1Y2015',
  'CBP2015',
  'ACSCP1Y2015',
  'ACSDP1Y2015',
  'ACSST1Y2015',
  'ACSDT5Y2015',
  'ACSCP5Y2015',
  'ACSDP5Y2015',
  'ACSST5Y2015',
  'ACSSE2015',
  'ACSFlows2015',
  'ftd15ImpExpHist',
  'NONEMP2015',
  'PDBBlockGroup2015',
  'PDBTract2015',
  'PEPCHARAGE2015',
  'PEPCHARAGEGROUPS2015',
  'PEPCOMPONENTS2015',
  'PEPHOUSING2015',
  'PEPNATMONTHLY2015',
  'PEPPOP2015',
  'ACSDT1Y2016',
  'ACSST5Y2016',
  'ACSCP1Y2016',
  'ACSProfile2016',
  'ACSSE2016',
  'ACSFLOWS2016',
  'CBP2016',
  'ACSSPP1Y2016',
  'ACSST1Y2016',
  'ACSDT5Y2016',
  'ACSCP5Y2016',
  'ACSProfile5Y2016',
  'ftd16ImpExpHist',
  'NONEMP2016',
  'PDBBlockGroup2016',
  'PDBTract2016',
  'PEPCHARAGE2016',
  'PEPCHARAGEGROUPS2016',
  'PEPCOMPONENTS2016',
  'PEPHOUSING2016',
  'PEPNATMONTHLY2016',
  'PEPPOP2016',
  'ZBP2016',
  'ACSDT1Y2017',
  'ACSCP1Y2017',
  'ACSDP1Y2017',
  'ACSSPP1Y2017',
  'ACSST1Y2017',
  'ACSDT5Y2017',
  'ACSCP5Y2017',
  'ACSDP5Y2017',
  'ACSST5Y2017',
  'ACSSE2017',
  'ftd17ImpExpHist',
  'NONEMP2017',
  'PEPCHARAGE2017',
  'PEPCHARAGEGROUPS2017',
  'PEPCOMPONENTS2017',
  'PEPHOUSING2017',
  'PEPNATMONTHLY2017',
  'PEPPOP2017',
  'ftd18ImpExpHist',
  'PDBBLOCKGROUP2018',
  'PDBTRACT2018',
  'PEPCHARAGE2018',
  'PEPCHARAGEGROUPS2018',
  'PEPCOMPONENTS2018',
  'PEPHOUSING2018',
  'PEPNATMONTHLY2018',
  'PEPPOP2018',
  'ASMState',
  'ASMProduct',
  'ASMIndustry',
  'BDSFirmsTimeSeries',
  'EITSADVM3',
  'EITSBFS',
  'EITSFTD',
  'EITSHV',
  'EITSM3',
  'EITSMARTS',
  'EITSMHS2',
  'EITSMHS',
  'EITSMRTS',
  'EITSMTIS',
  'EITSMWTS',
  'EITSQFR',
  'EITSQPR',
  'EITSQSS',
  'EITSQTAX',
  'EITSRESCONST',
  'EITSRESSALES',
  'EITSVIP',
  'SAHIE',
  'IDBSINGLEYEAR',
  'IDB5YR',
  'ITMONTHLYEXPORTSENDUSE',
  'ITMONTHLYEXPORTSPORTHS',
  'ITMONTHLYEXPORTSHITECH',
  'ITMONTHLYEXPORTSSTATEHS',
  'ITMONTHLYEXPORTSSITC',
  'ITMONTHLYEXPORTSHS',
  'ITMONTHLYEXPORTSSTATENAICS',
  'ITMONTHLYEXPORTSNAICS',
  'SAIPESTATECOUNTY',
  'ITMONTHLYEXPORTSUSDA',
  'SAIPESCHOOLDISTRICTS',
  'ITMONTHLYIMPORTSENDUSE',
  'ACSSPP1Y2018',
  'ITMONTHLYIMPORTSHITECH',
  'ACSST1Y2018',
  'ITMONTHLYIMPORTSHS',
  'QWIRE',
  'ITMONTHLYIMPORTSNAICS',
  'ACSFLOWS2017',
  'ITMONTHLYIMPORTSPORTHS',
  'ITMONTHLYIMPORTSSITC',
  'PDBBLOCKGROUP2019',
  'CFSAREA2012',
  'ITMONTHLYIMPORTSSTATEHS',
  'PDBTRACT2019',
  'ITMONTHLYIMPORTSSTATENAICS',
  'DECENNIALCD1162010',
  'QWISA',
  'ITMONTHLYIMPORTSUSDA',
  'ACSDT1Y2018',
  'CPSPoverty',
  'ECNBASIC2017',
  'ACSCP1Y2018',
  'ACSDP1Y2018',
  'QWISE',
  'ACSDT1Y2005',
  'ACSDP1Y2005',
  'ACSDT1Y2006',
  'ACSDP1Y2006',
  'CFSEXPORT2012',
  'ACSDT1Y2007',
  'CFSHAZMAT2012',
  'CFSPRELIM2012',
  'ISLANDAREAS2017',
  'CBP2017',
  'ZBP2017',
  'ACSDT5Y2018',
  'ACSDP1Y2007',
  'PEPNATMONTHLY2019',
  'ACSCP5Y2018',
  'ACSDT1Y2008',
  'ACSDP5Y2018',
  'ACSST5Y2018',
  'ACSDP1Y2008',
  'PEPPOP2019',
  'PEPCHARAGEGROUPS2019',
  'ACSDT1Y2009',
  'PEPCOMPONENTS2019',
  'ACSDP1Y2009',
  'ACSDT3Y2007',
  'ISLANDAREASCOMP2017',
  'ISLANDAREASNAPCS2017',
  'ACSDP3Y2007',
  'ACSDT3Y2008',
  'POPPROJAGEGROUPS2017',
  'CFSAREA2017',
  'ACSDP3Y2008',
  'ACSDT3Y2009',
  'POPPROJBIRTHS2017',
  'ACSDP3Y2009',
  'POPPROJDEATHS2017',
  'POPPROJNAT2017',
  'POPPROJNIM2017',
  'ISLANDAREAS2012',
  'ACSSE2018',
  'GOVSTIMESERIES',
  'POPPROJPOP2017',
  'ACSDT5Y2009',
  'ACSDP5Y2009',
  'DECENNIALRR2010',
  'DECENNIALRR2020',
  'ISLANDAREASCOMP2012',
  'ASECS2015',
  'ASECB2015',
  'ASECBO2015',
  'ASECS2016',
  'ASECB2016',
  'ASECBO2016',
  'DECENNIALSF12000',
  'DECENNIALPL2010',
  'CFSPRELIM2017',
  'DECENNIALAIAN2010',
  'ACSDT3Y2012',
  'ACSCP3Y2012',
  'ACSDP3Y2012',
  'ACSSPP3Y2012',
  'ACSST3Y2012',
  'ACSDT3Y2013',
  'ACSCP3Y2013',
  'ACSDP3Y2013',
  'ACSSPP3Y2013',
  'ACSST3Y2013',
  'ISLANDAREASIND2012',
  'ISLANDAREASLINES2012',
  'ACSSPP1Y2009',
  'ACSSPP3Y2009',
  'ACSDP3Y2010',
  'ACSSPP3Y2010',
  'ACSST3Y2010',
  'ACSDT3Y2011',
  'ACSDP3Y2011',
  'ACSSPP3Y2011',
  'ACSST3Y2011',
  'PEPCHARAGE2019',
  'ASMAREA2012',
  'ASMAREA2017',
  'PDBSTATECOUNTY2020',
  'ASMVALUE2012',
  'ABSCB2017',
  'ABSCBO2017',
  'ABSCS2017',
  'NONEMP2018',
  'PEPHOUSING2019',
  'DECENNIALYOEAS2010',
  'DECENNIALYOEGU2010',
  'DECENNIALYOEMP2010',
  'DECENNIALAS2010',
  'ECNTYPOP2017',
  'DECENNIALMP2000',
  'DECENNIALVI2000',
  'ACSDP5YSPT2010',
  'CBP2018',
  'ACSSPP1Y2012',
  'DECENNIALGU2000',
  'DECENNIALAS2000',
  'ACSSPP1Y2013',
  'ACSSPP1Y2014',
  'ACSSPP1Y2015',
  'ACSSPP1Y2010',
  'ACSSPP1Y2011',
  'CFSEXPORT2017',
  'CFSHAZMAT2017',
  'CFSTEMP2017',
  'PDBBLOCKGROUP2020',
  'PDBTRACT2020',
  'ZBP2018',
  'ACSDT5YAIAN2015',
  'ACSDP5YAIAN2015',
  'ACSDT5YSPT2015',
  'ACSDT5YAIAN2010',
  'ACSDP5YAIAN2010',
  'ACSDT5YSPT2010',
  'DECENNIALCD110H',
  'ECNTYPE2017']]

In [3]:
api_database = 'ACSDT1Y2018'  # ACS 2008-2012

In [4]:
cen.explorer.explain(api_database)

{'American Community Survey: 1-Year Estimates: Detailed Tables 1-Year': "The American Community Survey (ACS) is an ongoing survey that provides data every year -- giving communities the current information they need to plan investments and services. The ACS covers a broad range of topics about social, economic, demographic, and housing characteristics of the U.S. population. Much of the ACS data provided on the Census Bureau's Web site are available separately by age group, race, Hispanic origin, and sex.  Summary files, Subject tables, Data profiles, and Comparison profiles are available for the nation, all 50 states, the District of Columbia, Puerto Rico, every congressional district, every metropolitan area, and all counties and places with populations of 65,000 or more.  Detail Tables contain the most detailed cross-tabulations published for areas 65k and more. The data are population counts. There are over 31,000 variables in this dataset."}

In [5]:
api_conn = cen.remote.APIConnection(api_database)

In [6]:
api_conn

Connection to American Community Survey: 1-Year Estimates: Detailed Tables 1-Year (ID: https://api.census.gov/data/id/ACSDT1Y2018)

In [7]:
api_conn.geographies.keys()

dict_keys(['fips'])

In [8]:
api_conn.geographies['fips']

,name,geoLevelDisplay,referenceDate,requires,wildcard,optionalWithWCFor
0,us,010,2018-01-01,NaN,NaN,NaN
1,region,020,2018-01-01,NaN,NaN,NaN
2,division,030,2018-01-01,NaN,NaN,NaN
3,state,040,2018-01-01,NaN,NaN,NaN
4,county,050,2018-01-01,[state],[state],state
5,county subdivision,060,2018-01-01,"[state, county]",[county],county
6,place,160,2018-01-01,[state],[state],state
7,alaska native regional corporation,230,2018-01-01,[state],[state],state
8,american indian area/alaska native area/hawaii...,250,2018-01-01,NaN,NaN,NaN
9,metropolitan statistical area/micropolitan sta...,310,2018-01-01,NaN,NaN,NaN
10,principal city (or part),312,2018-01-01,[metropolitan statistical area/micropolitan st...,NaN,NaN
11,metropolitan division,314,2018-01-01,[metropolitan statistical area/micropolitan st...,NaN,NaN
12,combined statistical area,330,2018-01-01,NaN,NaN,NaN
13,combined new england city and town area,335,2018-01-01,NaN,NaN,NaN
14,new england city and town area,350,2018-01-01,NaN,NaN,NaN
15,principal city (or part),352,2018-01-01,"[new england city and town area, state]",[state],state
16,necta division,355,2018-01-01,[new england city and town area],NaN,NaN
17,urban area,400,2018-01-01,NaN,NaN,NaN
18,congressional district,500,2018-01-01,[state],[state],state
19,public use microdata area,795,2018-01-01,[state],[state],state
20,school district (elementary),950,2018-01-01,[state],NaN,NaN
21,school district (secondary),960,2018-01-01,[state],NaN,NaN
22,school district (unified),970,2018-01-01,[state],NaN,NaN

In [9]:
g_unit = 'tract'
g_filter = {'state':'12', 'county':'073'}

In [10]:
print('Attributes in the ACS:', api_conn.variables.shape[0])
api_conn.variables.head(10)

Attributes in the ACS: 35529

,label,concept,predicateType,group,limit,predicateOnly,attributes,required
for,Census API FIPS 'for' clause,Census API Geography Specification,fips-for,N/A,0,True,NaN,NaN
in,Census API FIPS 'in' clause,Census API Geography Specification,fips-in,N/A,0,True,NaN,NaN
ucgid,Uniform Census Geography Identifier clause,Census API Geography Specification,ucgid,N/A,0,True,NaN,NaN
B24022_060E,Estimate!!Total!!Female!!Service occupations!!...,SEX BY OCCUPATION AND MEDIAN EARNINGS IN THE P...,int,B24022,0,NaN,"B24022_060M,B24022_060MA,B24022_060EA",NaN
B19001B_014E,"Estimate!!Total!!$100,000 to $124,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19001B,0,NaN,"B19001B_014EA,B19001B_014M,B19001B_014MA",NaN
C02014_002E,"Estimate!!Total!!American Indian tribes, speci...",AMERICAN INDIAN AND ALASKA NATIVE ALONE FOR SE...,int,C02014,0,NaN,"C02014_002M,C02014_002MA,C02014_002EA",NaN
B07007PR_019E,Estimate!!Total!!Moved from different municipi...,GEOGRAPHICAL MOBILITY IN THE PAST YEAR BY CITI...,int,B07007PR,0,NaN,"B07007PR_019EA,B07007PR_019M,B07007PR_019MA",NaN
B19101A_004E,"Estimate!!Total!!$15,000 to $19,999",FAMILY INCOME IN THE PAST 12 MONTHS (IN 2018 I...,int,B19101A,0,NaN,"B19101A_004M,B19101A_004MA,B19101A_004EA",NaN
B24022_061E,Estimate!!Total!!Female!!Service occupations!!...,SEX BY OCCUPATION AND MEDIAN EARNINGS IN THE P...,int,B24022,0,NaN,"B24022_061M,B24022_061MA,B24022_061EA",NaN
B19001B_013E,"Estimate!!Total!!$75,000 to $99,999",HOUSEHOLD INCOME IN THE PAST 12 MONTHS (IN 201...,int,B19001B,0,NaN,"B19001B_013EA,B19001B_013M,B19001B_013MA",NaN

In [11]:
cols = api_conn.varslike('B17006_\S+')
print(cols)

['B17006_013E', 'B17006_014E', 'B17006_015E', 'B17006_016E', 'B17006_010E', 'B17006_011E', 'B17006_012E', 'B17006_018E', 'B17006_017E', 'B17006_019E', 'B17006_001E', 'B17006_002E', 'B17006_003E', 'B17006_004E', 'B17006_005E', 'B17006_007E', 'B17006_006E', 'B17006_008E', 'B17006_009E', 'B17006_025E', 'B17006_026E', 'B17006_027E', 'B17006_029E', 'B17006_028E', 'B17006_021E', 'B17006_022E', 'B17006_023E', 'B17006_024E', 'B17006_020E']

In [12]:
cols_detail = pd.DataFrame(api_conn.variables.loc[cols].label)
cols_detail

                                                         label
B17006_013E  Estimate!!Total!!Income in the past 12 months ...
B17006_014E  Estimate!!Total!!Income in the past 12 months ...
B17006_015E  Estimate!!Total!!Income in the past 12 months ...
B17006_016E  Estimate!!Total!!Income in the past 12 months ...
B17006_010E  Estimate!!Total!!Income in the past 12 months ...
B17006_011E  Estimate!!Total!!Income in the past 12 months ...
B17006_012E  Estimate!!Total!!Income in the past 12 months ...
B17006_018E  Estimate!!Total!!Income in the past 12 months ...
B17006_017E  Estimate!!Total!!Income in the past 12 months ...
B17006_019E  Estimate!!Total!!Income in the past 12 months ...
B17006_001E                                    Estimate!!Total
B17006_002E  Estimate!!Total!!Income in the past 12 months ...
B17006_003E  Estimate!!Total!!Income in the past 12 months ...
B17006_004E  Estimate!!Total!!Income in the past 12 months ...
B17006_005E  Estimate!!Total!!Income in the past 12 months ...
B17006_007E  Estimate!!Total!!Income in the past 12 months ...
B17006_006E  Estimate!!Total!!Income in the past 12 months ...
B17006_008E  Estimate!!Total!!Income in the past 12 months ...
B17006_009E  Estimate!!Total!!Income in the past 12 months ...
B17006_025E  Estimate!!Total!!Income in the past 12 months ...
B17006_026E  Estimate!!Total!!Income in the past 12 months ...
B17006_027E  Estimate!!Total!!Income in the past 12 months ...
B17006_029E  Estimate!!Total!!Income in the past 12 months ...
B17006_028E  Estimate!!Total!!Income in the past 12 months ...
B17006_021E  Estimate!!Total!!Income in the past 12 months ...
B17006_022E  Estimate!!Total!!Income in the past 12 months ...
B17006_023E  Estimate!!Total!!Income in the past 12 months ...
B17006_024E  Estimate!!Total!!Income in the past 12 months ...
B17006_020E  Estimate!!Total!!Income in the past 12 months ...

In [13]:
cols.extend(['NAME', 'GEOID'])

In [14]:
api_conn.query(cols)

TypeError: can only concatenate str (not "bytes") to str

In [ ]:
# data = api_conn.query(cols, geo_unit=g_unit, geo_filter=g_filter)

In [15]:
import census

In [19]:
from census import Census
# from us import states #  ==> This library only works until Python 3.5

c = Census("a506234289f683af6f83f5c1cff599760f93a0d8")
c.acs5.get(('NAME', 'B25034_010E'),
          {'for': 'state: NY'})

[]

In [20]:
import censusdata
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)

In [21]:
censusdata.search('acs5', 2015, 'label', 'unemploy')[160:170]

[('B23024_023E',
  'B23024.  Poverty Status in the Past 12 Months by Disability Status by Employment Status for the Population 20 to 64 Years',
  'Income in the past 12 months at or above poverty level:!!With a disability:!!In labor force:!!Civilian:!!Unemployed'),
 ('B23024_023M',
  'B23024.  Poverty Status in the Past 12 Months by Disability Status by Employment Status for the Population 20 to 64 Years',
  'Margin of Error for!!Income in the past 12 months at or above poverty level:!!With a disability:!!In labor force:!!Civilian:!!Unemployed'),
 ('B23024_030E',
  'B23024.  Poverty Status in the Past 12 Months by Disability Status by Employment Status for the Population 20 to 64 Years',
  'Income in the past 12 months at or above poverty level:!!No disability:!!In labor force:!!Civilian:!!Unemployed'),
 ('B23024_030M',
  'B23024.  Poverty Status in the Past 12 Months by Disability Status by Employment Status for the Population 20 to 64 Years',
  'Margin of Error for!!Income in the past 12 months at or above poverty level:!!No disability:!!In labor force:!!Civilian:!!Unemployed'),
 ('B23025_005E',
  'B23025.  Employment Status for the Population 16 Years and Over',
  'In labor force:!!Civilian labor force:!!Unemployed'),
 ('B23025_005M',
  'B23025.  Employment Status for the Population 16 Years and Over',
  'Margin Of Error For!!In labor force:!!Civilian labor force:!!Unemployed'),
 ('B27011_014E',
  'B27011.  Health Insurance Coverage Status and Type by Employment Status by Age',
  'In labor force:!!Unemployed:'),
 ('B27011_014M',
  'B27011.  Health Insurance Coverage Status and Type by Employment Status by Age',
  'Margin of Error for!!In labor force:!!Unemployed:'),
 ('B27011_015E',
  'B27011.  Health Insurance Coverage Status and Type by Employment Status by Age',
  'In labor force:!!Unemployed:!!18 to 64 years:'),
 ('B27011_015M',
  'B27011.  Health Insurance Coverage Status and Type by Employment Status by Age',
  'Margin of Error for!!In labor force:!!Unemployed:!!18 to 64 years:')]

In [24]:
censusdata.search('acs5', 2018, 'concept', 'education')[730:790]

[('C15002A_010E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (WHITE ALONE)',
  "Estimate!!Total!!Female!!Some college or associate's degree"),
 ('C15002A_011E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (WHITE ALONE)',
  "Estimate!!Total!!Female!!Bachelor's degree or higher"),
 ('C15002B_001E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)',
  'Estimate!!Total'),
 ('C15002B_002E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)',
  'Estimate!!Total!!Male'),
 ('C15002B_003E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)',
  'Estimate!!Total!!Male!!Less than high school diploma'),
 ('C15002B_004E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)',
  'Estimate!!Total!!Male!!High school graduate (includes equivalency)'),
 ('C15002B_005E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)',
  "Estimate!!Total!!Male!!Some college or associate's degree"),
 ('C15002B_006E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)',
  "Estimate!!Total!!Male!!Bachelor's degree or higher"),
 ('C15002B_007E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)',
  'Estimate!!Total!!Female'),
 ('C15002B_008E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)',
  'Estimate!!Total!!Female!!Less than high school diploma'),
 ('C15002B_009E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)',
  'Estimate!!Total!!Female!!High school graduate (includes equivalency)'),
 ('C15002B_010E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)',
  "Estimate!!Total!!Female!!Some college or associate's degree"),
 ('C15002B_011E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (BLACK OR AFRICAN AMERICAN ALONE)',
  "Estimate!!Total!!Female!!Bachelor's degree or higher"),
 ('C15002C_001E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
  'Estimate!!Total'),
 ('C15002C_002E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
  'Estimate!!Total!!Male'),
 ('C15002C_003E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
  'Estimate!!Total!!Male!!Less than high school diploma'),
 ('C15002C_004E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
  'Estimate!!Total!!Male!!High school graduate (includes equivalency)'),
 ('C15002C_005E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
  "Estimate!!Total!!Male!!Some college or associate's degree"),
 ('C15002C_006E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
  "Estimate!!Total!!Male!!Bachelor's degree or higher"),
 ('C15002C_007E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
  'Estimate!!Total!!Female'),
 ('C15002C_008E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
  'Estimate!!Total!!Female!!Less than high school diploma'),
 ('C15002C_009E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
  'Estimate!!Total!!Female!!High school graduate (includes equivalency)'),
 ('C15002C_010E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
  "Estimate!!Total!!Female!!Some college or associate's degree"),
 ('C15002C_011E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (AMERICAN INDIAN AND ALASKA NATIVE ALONE)',
  "Estimate!!Total!!Female!!Bachelor's degree or higher"),
 ('C15002D_001E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (ASIAN ALONE)',
  'Estimate!!Total'),
 ('C15002D_002E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (ASIAN ALONE)',
  'Estimate!!Total!!Male'),
 ('C15002D_003E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (ASIAN ALONE)',
  'Estimate!!Total!!Male!!Less than high school diploma'),
 ('C15002D_004E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (ASIAN ALONE)',
  'Estimate!!Total!!Male!!High school graduate (includes equivalency)'),
 ('C15002D_005E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (ASIAN ALONE)',
  "Estimate!!Total!!Male!!Some college or associate's degree"),
 ('C15002D_006E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (ASIAN ALONE)',
  "Estimate!!Total!!Male!!Bachelor's degree or higher"),
 ('C15002D_007E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (ASIAN ALONE)',
  'Estimate!!Total!!Female'),
 ('C15002D_008E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (ASIAN ALONE)',
  'Estimate!!Total!!Female!!Less than high school diploma'),
 ('C15002D_009E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (ASIAN ALONE)',
  'Estimate!!Total!!Female!!High school graduate (includes equivalency)'),
 ('C15002D_010E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (ASIAN ALONE)',
  "Estimate!!Total!!Female!!Some college or associate's degree"),
 ('C15002D_011E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (ASIAN ALONE)',
  "Estimate!!Total!!Female!!Bachelor's degree or higher"),
 ('C15002E_001E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
  'Estimate!!Total'),
 ('C15002E_002E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
  'Estimate!!Total!!Male'),
 ('C15002E_003E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
  'Estimate!!Total!!Male!!Less than high school diploma'),
 ('C15002E_004E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
  'Estimate!!Total!!Male!!High school graduate (includes equivalency)'),
 ('C15002E_005E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
  "Estimate!!Total!!Male!!Some college or associate's degree"),
 ('C15002E_006E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
  "Estimate!!Total!!Male!!Bachelor's degree or higher"),
 ('C15002E_007E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
  'Estimate!!Total!!Female'),
 ('C15002E_008E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
  'Estimate!!Total!!Female!!Less than high school diploma'),
 ('C15002E_009E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
  'Estimate!!Total!!Female!!High school graduate (includes equivalency)'),
 ('C15002E_010E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
  "Estimate!!Total!!Female!!Some college or associate's degree"),
 ('C15002E_011E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (NATIVE HAWAIIAN AND OTHER PACIFIC ISLANDER ALONE)',
  "Estimate!!Total!!Female!!Bachelor's degree or higher"),
 ('C15002F_001E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (SOME OTHER RACE ALONE)',
  'Estimate!!Total'),
 ('C15002F_002E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (SOME OTHER RACE ALONE)',
  'Estimate!!Total!!Male'),
 ('C15002F_003E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (SOME OTHER RACE ALONE)',
  'Estimate!!Total!!Male!!Less than high school diploma'),
 ('C15002F_004E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (SOME OTHER RACE ALONE)',
  'Estimate!!Total!!Male!!High school graduate (includes equivalency)'),
 ('C15002F_005E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (SOME OTHER RACE ALONE)',
  "Estimate!!Total!!Male!!Some college or associate's degree"),
 ('C15002F_006E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (SOME OTHER RACE ALONE)',
  "Estimate!!Total!!Male!!Bachelor's degree or higher"),
 ('C15002F_007E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (SOME OTHER RACE ALONE)',
  'Estimate!!Total!!Female'),
 ('C15002F_008E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (SOME OTHER RACE ALONE)',
  'Estimate!!Total!!Female!!Less than high school diploma'),
 ('C15002F_009E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (SOME OTHER RACE ALONE)',
  'Estimate!!Total!!Female!!High school graduate (includes equivalency)'),
 ('C15002F_010E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (SOME OTHER RACE ALONE)',
  "Estimate!!Total!!Female!!Some college or associate's degree"),
 ('C15002F_011E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (SOME OTHER RACE ALONE)',
  "Estimate!!Total!!Female!!Bachelor's degree or higher"),
 ('C15002G_001E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (TWO OR MORE RACES)',
  'Estimate!!Total'),
 ('C15002G_002E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (TWO OR MORE RACES)',
  'Estimate!!Total!!Male'),
 ('C15002G_003E',
  'SEX BY EDUCATIONAL ATTAINMENT FOR THE POPULATION 25 YEARS AND OVER (TWO OR MORE RACES)',
  'Estimate!!Total!!Male!!Less than high school diploma')]

In [26]:
censusdata.printtable(censusdata.censustable('acs5', 2018, 'B23025'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B23025_001E  | EMPLOYMENT STATUS FOR THE POPU | !! Estimate Total                                        | int
B23025_002E  | EMPLOYMENT STATUS FOR THE POPU | !! !! Estimate Total In labor force                      | int
B23025_003E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! Estimate Total In labor force Civilian labor fo | int
B23025_004E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! !! Estimate Total In labor force Civilian labor | int
B23025_005E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! !! Estimate Total In labor force Civilian labor | int
B23025_006E  | EMPLOYMENT STATUS FOR THE POPU | !! !! !! Estimate Total In labor force Armed Forces      | int
B23025_007E  | EMPLOYMENT STATUS FOR THE POPU | !! !! Estimate Total Not in labor force                  | int
-------------------------------------------------------------------------------------------------------------------

In [27]:
censusdata.printtable(censusdata.censustable('acs5', 2015, 'B15003'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
B15003_001E  | B15003.  Educational Attainmen | Total:                                                   | int
B15003_002E  | B15003.  Educational Attainmen | No schooling completed                                   | int
B15003_003E  | B15003.  Educational Attainmen | Nursery school                                           | int
B15003_004E  | B15003.  Educational Attainmen | Kindergarten                                             | int
B15003_005E  | B15003.  Educational Attainmen | 1st grade                                                | int
B15003_006E  | B15003.  Educational Attainmen | 2nd grade                                                | int
B15003_007E  | B15003.  Educational Attainmen | 3rd grade                                                | int
B15003_008E  | B15003.  Educational Attainmen | 4th grade                                                | int
B15003_009E  | B15003.  Educational Attainmen | 5th grade                                                | int
B15003_010E  | B15003.  Educational Attainmen | 6th grade                                                | int
B15003_011E  | B15003.  Educational Attainmen | 7th grade                                                | int
B15003_012E  | B15003.  Educational Attainmen | 8th grade                                                | int
B15003_013E  | B15003.  Educational Attainmen | 9th grade                                                | int
B15003_014E  | B15003.  Educational Attainmen | 10th grade                                               | int
B15003_015E  | B15003.  Educational Attainmen | 11th grade                                               | int
B15003_016E  | B15003.  Educational Attainmen | 12th grade, no diploma                                   | int
B15003_017E  | B15003.  Educational Attainmen | Regular high school diploma                              | int
B15003_018E  | B15003.  Educational Attainmen | GED or alternative credential                            | int
B15003_019E  | B15003.  Educational Attainmen | Some college, less than 1 year                           | int
B15003_020E  | B15003.  Educational Attainmen | Some college, 1 or more years, no degree                 | int
B15003_021E  | B15003.  Educational Attainmen | Associate's degree                                       | int
B15003_022E  | B15003.  Educational Attainmen | Bachelor's degree                                        | int
B15003_023E  | B15003.  Educational Attainmen | Master's degree                                          | int
B15003_024E  | B15003.  Educational Attainmen | Professional school degree                               | int
B15003_025E  | B15003.  Educational Attainmen | Doctorate degree                                         | int
-------------------------------------------------------------------------------------------------------------------

In [28]:
censusdata.geographies(censusdata.censusgeo([('state', '*')]), 'acs5', 2015)

{'Alabama': censusgeo((('state', '01'),)),
 'Alaska': censusgeo((('state', '02'),)),
 'Arizona': censusgeo((('state', '04'),)),
 'Arkansas': censusgeo((('state', '05'),)),
 'California': censusgeo((('state', '06'),)),
 'Colorado': censusgeo((('state', '08'),)),
 'Connecticut': censusgeo((('state', '09'),)),
 'Delaware': censusgeo((('state', '10'),)),
 'District of Columbia': censusgeo((('state', '11'),)),
 'Florida': censusgeo((('state', '12'),)),
 'Georgia': censusgeo((('state', '13'),)),
 'Hawaii': censusgeo((('state', '15'),)),
 'Idaho': censusgeo((('state', '16'),)),
 'Illinois': censusgeo((('state', '17'),)),
 'Indiana': censusgeo((('state', '18'),)),
 'Iowa': censusgeo((('state', '19'),)),
 'Kansas': censusgeo((('state', '20'),)),
 'Kentucky': censusgeo((('state', '21'),)),
 'Louisiana': censusgeo((('state', '22'),)),
 'Maine': censusgeo((('state', '23'),)),
 'Maryland': censusgeo((('state', '24'),)),
 'Massachusetts': censusgeo((('state', '25'),)),
 'Michigan': censusgeo((('state', '26'),)),
 'Minnesota': censusgeo((('state', '27'),)),
 'Mississippi': censusgeo((('state', '28'),)),
 'Missouri': censusgeo((('state', '29'),)),
 'Montana': censusgeo((('state', '30'),)),
 'Nebraska': censusgeo((('state', '31'),)),
 'Nevada': censusgeo((('state', '32'),)),
 'New Hampshire': censusgeo((('state', '33'),)),
 'New Jersey': censusgeo((('state', '34'),)),
 'New Mexico': censusgeo((('state', '35'),)),
 'New York': censusgeo((('state', '36'),)),
 'North Carolina': censusgeo((('state', '37'),)),
 'North Dakota': censusgeo((('state', '38'),)),
 'Ohio': censusgeo((('state', '39'),)),
 'Oklahoma': censusgeo((('state', '40'),)),
 'Oregon': censusgeo((('state', '41'),)),
 'Pennsylvania': censusgeo((('state', '42'),)),
 'Rhode Island': censusgeo((('state', '44'),)),
 'South Carolina': censusgeo((('state', '45'),)),
 'South Dakota': censusgeo((('state', '46'),)),
 'Tennessee': censusgeo((('state', '47'),)),
 'Texas': censusgeo((('state', '48'),)),
 'Utah': censusgeo((('state', '49'),)),
 'Vermont': censusgeo((('state', '50'),)),
 'Virginia': censusgeo((('state', '51'),)),
 'Washington': censusgeo((('state', '53'),)),
 'West Virginia': censusgeo((('state', '54'),)),
 'Wisconsin': censusgeo((('state', '55'),)),
 'Wyoming': censusgeo((('state', '56'),)),
 'Puerto Rico': censusgeo((('state', '72'),))}

In [29]:
censusdata.geographies(censusdata.censusgeo([('state', '17'), ('county', '*')]), 'acs5', 2018)

{'Jersey County, Illinois': censusgeo((('state', '17'), ('county', '083'))),
 'Putnam County, Illinois': censusgeo((('state', '17'), ('county', '155'))),
 'De Witt County, Illinois': censusgeo((('state', '17'), ('county', '039'))),
 'Fayette County, Illinois': censusgeo((('state', '17'), ('county', '051'))),
 'Lee County, Illinois': censusgeo((('state', '17'), ('county', '103'))),
 'Logan County, Illinois': censusgeo((('state', '17'), ('county', '107'))),
 'Macoupin County, Illinois': censusgeo((('state', '17'), ('county', '117'))),
 'Richland County, Illinois': censusgeo((('state', '17'), ('county', '159'))),
 'Saline County, Illinois': censusgeo((('state', '17'), ('county', '165'))),
 'Washington County, Illinois': censusgeo((('state', '17'), ('county', '189'))),
 'Montgomery County, Illinois': censusgeo((('state', '17'), ('county', '135'))),
 'Whiteside County, Illinois': censusgeo((('state', '17'), ('county', '195'))),
 'Adams County, Illinois': censusgeo((('state', '17'), ('county', '001'))),
 'Clinton County, Illinois': censusgeo((('state', '17'), ('county', '027'))),
 'DeKalb County, Illinois': censusgeo((('state', '17'), ('county', '037'))),
 'Edwards County, Illinois': censusgeo((('state', '17'), ('county', '047'))),
 'Jasper County, Illinois': censusgeo((('state', '17'), ('county', '079'))),
 'Jefferson County, Illinois': censusgeo((('state', '17'), ('county', '081'))),
 'Will County, Illinois': censusgeo((('state', '17'), ('county', '197'))),
 'Williamson County, Illinois': censusgeo((('state', '17'), ('county', '199'))),
 'Douglas County, Illinois': censusgeo((('state', '17'), ('county', '041'))),
 'Fulton County, Illinois': censusgeo((('state', '17'), ('county', '057'))),
 'Greene County, Illinois': censusgeo((('state', '17'), ('county', '061'))),
 'Hardin County, Illinois': censusgeo((('state', '17'), ('county', '069'))),
 'Henry County, Illinois': censusgeo((('state', '17'), ('county', '073'))),
 'Knox County, Illinois': censusgeo((('state', '17'), ('county', '095'))),
 'Lake County, Illinois': censusgeo((('state', '17'), ('county', '097'))),
 'Massac County, Illinois': censusgeo((('state', '17'), ('county', '127'))),
 'Scott County, Illinois': censusgeo((('state', '17'), ('county', '171'))),
 'Cass County, Illinois': censusgeo((('state', '17'), ('county', '017'))),
 'LaSalle County, Illinois': censusgeo((('state', '17'), ('county', '099'))),
 'Hancock County, Illinois': censusgeo((('state', '17'), ('county', '067'))),
 'Grundy County, Illinois': censusgeo((('state', '17'), ('county', '063'))),
 'Kankakee County, Illinois': censusgeo((('state', '17'), ('county', '091'))),
 'DuPage County, Illinois': censusgeo((('state', '17'), ('county', '043'))),
 'Sangamon County, Illinois': censusgeo((('state', '17'), ('county', '167'))),
 'Menard County, Illinois': censusgeo((('state', '17'), ('county', '129'))),
 'Stephenson County, Illinois': censusgeo((('state', '17'), ('county', '177'))),
 'Cook County, Illinois': censusgeo((('state', '17'), ('county', '031'))),
 'Ogle County, Illinois': censusgeo((('state', '17'), ('county', '141'))),
 'Morgan County, Illinois': censusgeo((('state', '17'), ('county', '137'))),
 'White County, Illinois': censusgeo((('state', '17'), ('county', '193'))),
 'Woodford County, Illinois': censusgeo((('state', '17'), ('county', '203'))),
 'Henderson County, Illinois': censusgeo((('state', '17'), ('county', '071'))),
 'McHenry County, Illinois': censusgeo((('state', '17'), ('county', '111'))),
 'McLean County, Illinois': censusgeo((('state', '17'), ('county', '113'))),
 'Perry County, Illinois': censusgeo((('state', '17'), ('county', '145'))),
 'Pike County, Illinois': censusgeo((('state', '17'), ('county', '149'))),
 'Rock Island County, Illinois': censusgeo((('state', '17'), ('county', '161'))),
 'St. Clair County, Illinois': censusgeo((('state', '17'), ('county', '163'))),
 'Wabash County, Illinois': censusgeo((('state', '17'), ('county', '185'))),
 'Calhoun County, Illinois': censusgeo((('state', '17'), ('county', '013'))),
 'Cumberland County, Illinois': censusgeo((('state', '17'), ('county', '035'))),
 'Jo Daviess County, Illinois': censusgeo((('state', '17'), ('county', '085'))),
 'Kane County, Illinois': censusgeo((('state', '17'), ('county', '089'))),
 'Lawrence County, Illinois': censusgeo((('state', '17'), ('county', '101'))),
 'Brown County, Illinois': censusgeo((('state', '17'), ('county', '009'))),
 'Marshall County, Illinois': censusgeo((('state', '17'), ('county', '123'))),
 'Iroquois County, Illinois': censusgeo((('state', '17'), ('county', '075'))),
 'Christian County, Illinois': censusgeo((('state', '17'), ('county', '021'))),
 'Clay County, Illinois': censusgeo((('state', '17'), ('county', '025'))),
 'Gallatin County, Illinois': censusgeo((('state', '17'), ('county', '059'))),
 'Jackson County, Illinois': censusgeo((('state', '17'), ('county', '077'))),
 'Monroe County, Illinois': censusgeo((('state', '17'), ('county', '133'))),
 'Peoria County, Illinois': censusgeo((('state', '17'), ('county', '143'))),
 'Union County, Illinois': censusgeo((('state', '17'), ('county', '181'))),
 'Winnebago County, Illinois': censusgeo((('state', '17'), ('county', '201'))),
 'Piatt County, Illinois': censusgeo((('state', '17'), ('county', '147'))),
 'Pulaski County, Illinois': censusgeo((('state', '17'), ('county', '153'))),
 'Schuyler County, Illinois': censusgeo((('state', '17'), ('county', '169'))),
 'Stark County, Illinois': censusgeo((('state', '17'), ('county', '175'))),
 'Edgar County, Illinois': censusgeo((('state', '17'), ('county', '045'))),
 'Bond County, Illinois': censusgeo((('state', '17'), ('county', '005'))),
 'Boone County, Illinois': censusgeo((('state', '17'), ('county', '007'))),
 'Bureau County, Illinois': censusgeo((('state', '17'), ('county', '011'))),
 'Carroll County, Illinois': censusgeo((('state', '17'), ('county', '015'))),
 'Coles County, Illinois': censusgeo((('state', '17'), ('county', '029'))),
 'Crawford County, Illinois': censusgeo((('state', '17'), ('county', '033'))),
 'Vermilion County, Illinois': censusgeo((('state', '17'), ('county', '183'))),
 'Clark County, Illinois': censusgeo((('state', '17'), ('county', '023'))),
 'Effingham County, Illinois': censusgeo((('state', '17'), ('county', '049'))),
 'Hamilton County, Illinois': censusgeo((('state', '17'), ('county', '065'))),
 'Johnson County, Illinois': censusgeo((('state', '17'), ('county', '087'))),
 'Livingston County, Illinois': censusgeo((('state', '17'), ('county', '105'))),
 'Tazewell County, Illinois': censusgeo((('state', '17'), ('county', '179'))),
 'Warren County, Illinois': censusgeo((('state', '17'), ('county', '187'))),
 'Madison County, Illinois': censusgeo((('state', '17'), ('county', '119'))),
 'Mercer County, Illinois': censusgeo((('state', '17'), ('county', '131'))),
 'Alexander County, Illinois': censusgeo((('state', '17'), ('county', '003'))),
 'Randolph County, Illinois': censusgeo((('state', '17'), ('county', '157'))),
 'Macon County, Illinois': censusgeo((('state', '17'), ('county', '115'))),
 'Wayne County, Illinois': censusgeo((('state', '17'), ('county', '191'))),
 'Franklin County, Illinois': censusgeo((('state', '17'), ('county', '055'))),
 'McDonough County, Illinois': censusgeo((('state', '17'), ('county', '109'))),
 'Moultrie County, Illinois': censusgeo((('state', '17'), ('county', '139'))),
 'Pope County, Illinois': censusgeo((('state', '17'), ('county', '151'))),
 'Shelby County, Illinois': censusgeo((('state', '17'), ('county', '173'))),
 'Champaign County, Illinois': censusgeo((('state', '17'), ('county', '019'))),
 'Ford County, Illinois': censusgeo((('state', '17'), ('county', '053'))),
 'Kendall County, Illinois': censusgeo((('state', '17'), ('county', '093'))),
 'Marion County, Illinois': censusgeo((('state', '17'), ('county', '121'))),
 'Mason County, Illinois': censusgeo((('state', '17'), ('county', '125')))}

In [30]:
cookbg = censusdata.download('acs5', 2015,
                             censusdata.censusgeo([('state', '17'), ('county', '031'), ('block group', '*')]),
                             ['B23025_003E', 'B23025_005E', 'B15003_001E', 'B15003_002E', 'B15003_003E',
                              'B15003_004E', 'B15003_005E', 'B15003_006E', 'B15003_007E', 'B15003_008E',
                              'B15003_009E', 'B15003_010E', 'B15003_011E', 'B15003_012E', 'B15003_013E',
                              'B15003_014E', 'B15003_015E', 'B15003_016E'])
cookbg['percent_unemployed'] = cookbg.B23025_005E / cookbg.B23025_003E * 100
cookbg['percent_nohs'] = (cookbg.B15003_002E + cookbg.B15003_003E + cookbg.B15003_004E
                          + cookbg.B15003_005E + cookbg.B15003_006E + cookbg.B15003_007E + cookbg.B15003_008E
                          + cookbg.B15003_009E + cookbg.B15003_010E + cookbg.B15003_011E + cookbg.B15003_012E
                          + cookbg.B15003_013E + cookbg.B15003_014E +
                          cookbg.B15003_015E + cookbg.B15003_016E) / cookbg.B15003_001E * 100
cookbg = cookbg[['percent_unemployed', 'percent_nohs']]
cookbg.describe()

       percent_unemployed  percent_nohs
count             3983.00       3984.00
mean                12.00         15.19
std                 10.09         13.23
min                  0.00          0.00
25%                  4.86          4.75
50%                  9.24         11.66
75%                 16.28         22.46
max                 91.86         77.43

In [31]:
cookbg.sort_values('percent_unemployed', ascending=False).head(30)

                                                    percent_unemployed  percent_nohs
Block Group 1, Census Tract 8357, Cook County, ...               91.86          0.00
Block Group 2, Census Tract 6805, Cook County, ...               66.27         19.54
Block Group 3, Census Tract 5103, Cook County, ...               64.07         16.97
Block Group 2, Census Tract 6809, Cook County, ...               61.46         42.33
Block Group 1, Census Tract 4913, Cook County, ...               56.40         14.64
Block Group 5, Census Tract 2315, Cook County, ...               55.58         44.72
Block Group 3, Census Tract 8346, Cook County, ...               54.96         17.85
Block Group 2, Census Tract 6706, Cook County, ...               54.13          9.57
Block Group 2, Census Tract 8386, Cook County, ...               53.78         48.41
Block Group 5, Census Tract 4910, Cook County, ...               53.57         38.23
Block Group 1, Census Tract 5401.02, Cook Count...               52.90          6.67
Block Group 2, Census Tract 6712, Cook County, ...               52.84         26.98
Block Group 1, Census Tract 7109, Cook County, ...               52.68         19.08
Block Group 1, Census Tract 3406, Cook County, ...               51.76         42.59
Block Group 1, Census Tract 6712, Cook County, ...               51.53         37.70
Block Group 2, Census Tract 4910, Cook County, ...               51.47         26.50
Block Group 3, Census Tract 4303, Cook County, ...               51.41         14.85
Block Group 1, Census Tract 6810, Cook County, ...               51.10         24.38
Block Group 5, Census Tract 6811, Cook County, ...               50.00         31.95
Block Group 6, Census Tract 7104, Cook County, ...               50.00          9.34
Block Group 2, Census Tract 6812, Cook County, ...               49.82         20.29
Block Group 1, Census Tract 8290, Cook County, ...               49.57         28.97
Block Group 3, Census Tract 6813, Cook County, ...               49.51         22.92
Block Group 1, Census Tract 6811, Cook County, ...               49.32         33.73
Block Group 2, Census Tract 7107, Cook County, ...               49.00         17.18
Block Group 6, Census Tract 4804, Cook County, ...               48.68          8.32
Block Group 1, Census Tract 4207, Cook County, ...               48.63         14.08
Block Group 1, Census Tract 6715, Cook County, ...               48.28         30.24
Block Group 4, Census Tract 4603.02, Cook Count...               48.00         48.27
Block Group 3, Census Tract 8424, Cook County, ...               47.80          0.00

In [32]:
cookbg.corr()

                    percent_unemployed  percent_nohs
percent_unemployed                1.00          0.29
percent_nohs                      0.29          1.00

In [33]:
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)

county65plus = censusdata.download('acs5', 2015, censusdata.censusgeo([('county', '*')]),
                                   ['B01001_001E', 'B01001_020E', 'B01001_021E', 'B01001_022E', 'B01001_023E',
                                    'B01001_024E', 'B01001_025E', 'B01001_044E', 'B01001_045E', 'B01001_046E',
                                    'B01001_047E', 'B01001_048E', 'B01001_049E'])
county65plus.describe()

       B01001_001E  B01001_020E  B01001_021E  B01001_022E  B01001_023E  B01001_024E  B01001_025E  B01001_044E  B01001_045E  B01001_046E  B01001_047E  B01001_048E  B01001_049E
count     3.22e+03      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00      3220.00
mean      9.94e+04       961.47      1201.25      1532.44      1075.61       748.45       629.46      1064.89      1350.16      1802.07      1358.99      1079.33      1236.80
std       3.19e+05      2669.50      3306.09      4193.15      2994.94      2184.18      1945.32      3085.53      3860.28      5149.07      3920.19      3183.31      3741.48
min       8.50e+01         0.00         0.00         2.00         0.00         0.00         0.00         0.00         0.00         0.00         0.00         0.00         0.00
25%       1.12e+04       134.00       173.00       234.00       165.00       106.00        80.00       136.00       178.00       252.00       196.00       143.00       157.75
50%       2.60e+04       308.00       391.50       513.00       353.00       231.00       180.50       322.00       413.00       560.00       429.00       318.00       350.50
75%       6.64e+04       750.75       949.25      1242.75       850.00       550.25       430.00       790.75      1040.75      1362.75      1012.00       789.00       847.00
max       1.00e+07     79196.00     96638.00    122804.00     88018.00     65118.00     59251.00     91381.00    114778.00    152378.00    116736.00     93446.00    110015.00

In [34]:
county65plus['percent_65plus'] = (county65plus.B01001_020E + county65plus.B01001_021E + county65plus.B01001_022E
                                  + county65plus.B01001_023E + county65plus.B01001_024E + county65plus.B01001_025E
                                  + county65plus.B01001_044E + county65plus.B01001_045E + county65plus.B01001_046E
                                  + county65plus.B01001_047E + county65plus.B01001_048E
                                  + county65plus.B01001_049E) / county65plus.B01001_001E * 100
county65plus = county65plus[['B01001_001E', 'percent_65plus']]
county65plus = county65plus.rename(columns={'B01001_001E': 'population_size'})
county65plus.describe()

       population_size  percent_65plus
count         3.22e+03         3220.00
mean          9.94e+04           17.10
std           3.19e+05            4.39
min           8.50e+01            3.30
25%           1.12e+04           14.32
50%           2.60e+04           16.78
75%           6.64e+04           19.45
max           1.00e+07           50.89

In [35]:
county65plus.sort_values('percent_65plus', ascending=False, inplace=True)
county65plus.head(30)

                                                    population_size  percent_65plus
Sumter County, Florida: Summary level: 050, sta...           108501           50.89
Charlotte County, Florida: Summary level: 050, ...           165783           36.86
Mineral County, Colorado: Summary level: 050, s...              733           36.56
Hooker County, Nebraska: Summary level: 050, st...              681           35.83
La Paz County, Arizona: Summary level: 050, sta...            20335           35.17
Citrus County, Florida: Summary level: 050, sta...           139654           34.43
Wheeler County, Oregon: Summary level: 050, sta...             1348           34.35
Highland County, Virginia: Summary level: 050, ...             2244           34.00
Real County, Texas: Summary level: 050, state:4...             3356           33.97
Sierra County, New Mexico: Summary level: 050, ...            11615           33.95
Alcona County, Michigan: Summary level: 050, st...            10550           33.93
Lancaster County, Virginia: Summary level: 050,...            11129           33.91
Llano County, Texas: Summary level: 050, state:...            19323           33.63
Highlands County, Florida: Summary level: 050, ...            98328           33.35
Sarasota County, Florida: Summary level: 050, s...           392038           33.20
McIntosh County, North Dakota: Summary level: 0...             2759           33.09
Northumberland County, Virginia: Summary level:...            12304           33.07
Catron County, New Mexico: Summary level: 050, ...             3583           32.71
Towns County, Georgia: Summary level: 050, stat...            10800           31.82
Hickory County, Missouri: Summary level: 050, s...             9335           31.49
Ontonagon County, Michigan: Summary level: 050,...             6298           30.61
Curry County, Oregon: Summary level: 050, state...            22338           30.48
Union County, Georgia: Summary level: 050, stat...            21725           30.43
Hinsdale County, Colorado: Summary level: 050, ...              874           30.09
Jefferson County, Washington: Summary level: 05...            30083           30.06
McPherson County, South Dakota: Summary level: ...             2263           29.74
McMullen County, Texas: Summary level: 050, sta...              778           29.69
Keweenaw County, Michigan: Summary level: 050, ...             2198           29.66
Baxter County, Arkansas: Summary level: 050, st...            41040           29.57
Indian River County, Florida: Summary level: 05...           142866           29.51

In [36]:
censusdata.search('acs5', 2015, 'label', '65', tabletype='profile')[-25:]

[('DP03_0135PM',
  'SELECTED ECONOMIC CHARACTERISTICS',
  'PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!65 years and over'),
 ('DP03_0136E',
  'SELECTED ECONOMIC CHARACTERISTICS',
  'PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!65 years and over!!People in families'),
 ('DP03_0136M',
  'SELECTED ECONOMIC CHARACTERISTICS',
  'PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!65 years and over!!People in families'),
 ('DP03_0137E',
  'SELECTED ECONOMIC CHARACTERISTICS',
  'PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!65 years and over!!Unrelated individuals 15 years and over'),
 ('DP03_0137M',
  'SELECTED ECONOMIC CHARACTERISTICS',
  'PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL!!65 years and over!!Unrelated individuals 15 years and over'),
 ('DP05_0014E',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 to 74 years'),
 ('DP05_0014M',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 to 74 years'),
 ('DP05_0014PE',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 to 74 years'),
 ('DP05_0014PM',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 to 74 years'),
 ('DP05_0021E',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over'),
 ('DP05_0021M',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over'),
 ('DP05_0021PE',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over'),
 ('DP05_0021PM',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over'),
 ('DP05_0025E',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over'),
 ('DP05_0025M',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over'),
 ('DP05_0025PE',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over'),
 ('DP05_0025PM',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over'),
 ('DP05_0026E',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over!!Male'),
 ('DP05_0026M',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over!!Male'),
 ('DP05_0026PE',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over!!Male'),
 ('DP05_0026PM',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over!!Male'),
 ('DP05_0027E',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over!!Female'),
 ('DP05_0027M',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over!!Female'),
 ('DP05_0027PE',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over!!Female'),
 ('DP05_0027PM',
  'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
  'SEX AND AGE!!Total population!!65 years and over!!Female')]

In [37]:
censusdata.printtable(censusdata.censustable('acs5', 2015, 'DP05'))

Variable     | Table                          | Label                                                    | Type
-------------------------------------------------------------------------------------------------------------------
DP05_0001E   | ACS DEMOGRAPHIC AND HOUSING ES | !! SEX AND AGE Total population                          | int
DP05_0001PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! SEX AND AGE Total population                          | int
DP05_0002E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population Male                  | int
DP05_0002PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population Male                  | int
DP05_0003E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population Female                | int
DP05_0003PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population Female                | int
DP05_0004E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population Under 5 years         | int
DP05_0004PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population Under 5 years         | int
DP05_0005E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 5 to 9 years          | int
DP05_0005PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 5 to 9 years          | int
DP05_0006E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 10 to 14 years        | int
DP05_0006PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 10 to 14 years        | int
DP05_0007E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 15 to 19 years        | int
DP05_0007PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 15 to 19 years        | int
DP05_0008E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 20 to 24 years        | int
DP05_0008PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 20 to 24 years        | int
DP05_0009E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 25 to 34 years        | int
DP05_0009PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 25 to 34 years        | int
DP05_0010E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 35 to 44 years        | int
DP05_0010PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 35 to 44 years        | int
DP05_0011E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 45 to 54 years        | int
DP05_0011PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 45 to 54 years        | int
DP05_0012E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 55 to 59 years        | int
DP05_0012PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 55 to 59 years        | int
DP05_0013E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 60 to 64 years        | int
DP05_0013PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 60 to 64 years        | int
DP05_0014E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 65 to 74 years        | int
DP05_0014PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 65 to 74 years        | int
DP05_0015E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 75 to 84 years        | int
DP05_0015PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 75 to 84 years        | int
DP05_0016E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 85 years and over     | int
DP05_0016PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 85 years and over     | int
DP05_0017E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population Median age (years)    | int
DP05_0017PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population Median age (years)    | int
DP05_0018E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 18 years and over     | int
DP05_0018PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 18 years and over     | int
DP05_0019E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 21 years and over     | int
DP05_0019PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 21 years and over     | int
DP05_0020E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 62 years and over     | int
DP05_0020PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 62 years and over     | int
DP05_0021E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 65 years and over     | int
DP05_0021PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 65 years and over     | int
DP05_0022E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 18 years and over     | int
DP05_0022PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 18 years and over     | int
DP05_0023E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! SEX AND AGE Total population 18 years and over  | int
DP05_0023PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! SEX AND AGE Total population 18 years and over  | int
DP05_0024E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! SEX AND AGE Total population 18 years and over  | int
DP05_0024PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! SEX AND AGE Total population 18 years and over  | int
DP05_0025E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 65 years and over     | int
DP05_0025PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! SEX AND AGE Total population 65 years and over     | int
DP05_0026E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! SEX AND AGE Total population 65 years and over  | int
DP05_0026PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! SEX AND AGE Total population 65 years and over  | int
DP05_0027E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! SEX AND AGE Total population 65 years and over  | int
DP05_0027PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! SEX AND AGE Total population 65 years and over  | int
DP05_0028E   | ACS DEMOGRAPHIC AND HOUSING ES | !! RACE Total population                                 | int
DP05_0028PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! RACE Total population                                 | int
DP05_0029E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE Total population One race                     | int
DP05_0029PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE Total population One race                     | int
DP05_0030E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE Total population Two or more races            | int
DP05_0030PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE Total population Two or more races            | int
DP05_0031E   | ACS DEMOGRAPHIC AND HOUSING ES | !! RACE One race                                         | int
DP05_0031PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! RACE One race                                         | int
DP05_0032E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE One race White                                | int
DP05_0032PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE One race White                                | int
DP05_0033E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE One race Black or African American            | int
DP05_0033PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE One race Black or African American            | int
DP05_0034E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE One race American Indian and Alaska Native    | int
DP05_0034PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE One race American Indian and Alaska Native    | int
DP05_0035E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race American Indian and Alaska Native | int
DP05_0035PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race American Indian and Alaska Native | int
DP05_0036E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race American Indian and Alaska Native | int
DP05_0036PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race American Indian and Alaska Native | int
DP05_0037E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race American Indian and Alaska Native | int
DP05_0037PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race American Indian and Alaska Native | int
DP05_0038E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race American Indian and Alaska Native | int
DP05_0038PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race American Indian and Alaska Native | int
DP05_0039E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE One race Asian                                | int
DP05_0039PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE One race Asian                                | int
DP05_0040E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Asian Indian                | int
DP05_0040PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Asian Indian                | int
DP05_0041E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Chinese                     | int
DP05_0041PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Chinese                     | int
DP05_0042E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Filipino                    | int
DP05_0042PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Filipino                    | int
DP05_0043E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Japanese                    | int
DP05_0043PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Japanese                    | int
DP05_0044E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Korean                      | int
DP05_0044PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Korean                      | int
DP05_0045E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Vietnamese                  | int
DP05_0045PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Vietnamese                  | int
DP05_0046E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Other Asian                 | int
DP05_0046PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Asian Other Asian                 | int
DP05_0047E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE One race Native Hawaiian and Other Pacific Is | int
DP05_0047PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE One race Native Hawaiian and Other Pacific Is | int
DP05_0048E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Native Hawaiian and Other Pacific | int
DP05_0048PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Native Hawaiian and Other Pacific | int
DP05_0049E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Native Hawaiian and Other Pacific | int
DP05_0049PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Native Hawaiian and Other Pacific | int
DP05_0050E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Native Hawaiian and Other Pacific | int
DP05_0050PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Native Hawaiian and Other Pacific | int
DP05_0051E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Native Hawaiian and Other Pacific | int
DP05_0051PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! RACE One race Native Hawaiian and Other Pacific | int
DP05_0052E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE One race Some other race                      | int
DP05_0052PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE One race Some other race                      | int
DP05_0053E   | ACS DEMOGRAPHIC AND HOUSING ES | !! RACE Two or more races                                | int
DP05_0053PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! RACE Two or more races                                | int
DP05_0054E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE Two or more races White and Black or African  | int
DP05_0054PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE Two or more races White and Black or African  | int
DP05_0055E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE Two or more races White and American Indian a | int
DP05_0055PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE Two or more races White and American Indian a | int
DP05_0056E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE Two or more races White and Asian             | int
DP05_0056PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE Two or more races White and Asian             | int
DP05_0057E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE Two or more races Black or African American a | int
DP05_0057PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! RACE Two or more races Black or African American a | int
DP05_0058E   | ACS DEMOGRAPHIC AND HOUSING ES | !! Race alone or in combination with one or more other r | int
DP05_0058PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! Race alone or in combination with one or more other r | int
DP05_0059E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! Race alone or in combination with one or more othe | int
DP05_0059PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! Race alone or in combination with one or more othe | int
DP05_0060E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! Race alone or in combination with one or more othe | int
DP05_0060PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! Race alone or in combination with one or more othe | int
DP05_0061E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! Race alone or in combination with one or more othe | int
DP05_0061PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! Race alone or in combination with one or more othe | int
DP05_0062E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! Race alone or in combination with one or more othe | int
DP05_0062PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! Race alone or in combination with one or more othe | int
DP05_0063E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! Race alone or in combination with one or more othe | int
DP05_0063PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! Race alone or in combination with one or more othe | int
DP05_0064E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! Race alone or in combination with one or more othe | int
DP05_0064PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! Race alone or in combination with one or more othe | int
DP05_0065E   | ACS DEMOGRAPHIC AND HOUSING ES | !! HISPANIC OR LATINO AND RACE Total population          | int
DP05_0065PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! HISPANIC OR LATINO AND RACE Total population          | int
DP05_0066E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! HISPANIC OR LATINO AND RACE Total population Hispa | int
DP05_0066PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! HISPANIC OR LATINO AND RACE Total population Hispa | int
DP05_0067E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population Hi | int
DP05_0067PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population Hi | int
DP05_0068E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population Hi | int
DP05_0068PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population Hi | int
DP05_0069E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population Hi | int
DP05_0069PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population Hi | int
DP05_0070E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population Hi | int
DP05_0070PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population Hi | int
DP05_0071E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! HISPANIC OR LATINO AND RACE Total population Not H | int
DP05_0071PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! HISPANIC OR LATINO AND RACE Total population Not H | int
DP05_0072E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0072PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0073E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0073PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0074E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0074PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0075E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0075PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0076E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0076PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0077E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0077PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0078E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0078PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! HISPANIC OR LATINO AND RACE Total population No | int
DP05_0079E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! !! HISPANIC OR LATINO AND RACE Total population | int
DP05_0079PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! !! HISPANIC OR LATINO AND RACE Total population | int
DP05_0080E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! !! HISPANIC OR LATINO AND RACE Total population | int
DP05_0080PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! !! !! HISPANIC OR LATINO AND RACE Total population | int
DP05_0081E   | ACS DEMOGRAPHIC AND HOUSING ES | Total housing units                                      | int
DP05_0081PE  | ACS DEMOGRAPHIC AND HOUSING ES | Total housing units                                      | int
DP05_0082E   | ACS DEMOGRAPHIC AND HOUSING ES | !! CITIZEN, VOTING AGE POPULATION Citizen, 18 and over p | int
DP05_0082PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! CITIZEN, VOTING AGE POPULATION Citizen, 18 and over p | int
DP05_0083E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! CITIZEN, VOTING AGE POPULATION Citizen, 18 and ove | int
DP05_0083PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! CITIZEN, VOTING AGE POPULATION Citizen, 18 and ove | int
DP05_0084E   | ACS DEMOGRAPHIC AND HOUSING ES | !! !! CITIZEN, VOTING AGE POPULATION Citizen, 18 and ove | int
DP05_0084PE  | ACS DEMOGRAPHIC AND HOUSING ES | !! !! CITIZEN, VOTING AGE POPULATION Citizen, 18 and ove | int
-------------------------------------------------------------------------------------------------------------------

In [38]:
county65plus = censusdata.download('acs5', 2015, censusdata.censusgeo([('county', '*')]),
                                   ['DP05_0001E', 'DP05_0014PE', 'DP05_0015PE', 'DP05_0016PE',],
                                   tabletype='profile')
county65plus.describe()

       DP05_0001E  DP05_0014PE  DP05_0015PE  DP05_0016PE
count    3.22e+03      3220.00      3220.00      3220.00
mean     9.94e+04         9.61         5.30         2.19
std      3.19e+05         2.43         1.63         0.93
min      8.50e+01         2.10         0.00         0.00
25%      1.12e+04         8.10         4.20         1.60
50%      2.60e+04         9.40         5.10         2.00
75%      6.64e+04        10.80         6.20         2.60
max      1.00e+07        32.50        14.90         9.10

In [39]:
county65plus['percent_65plus'] = (county65plus['DP05_0014PE'] + county65plus['DP05_0015PE']
                                  + county65plus['DP05_0016PE'])
county65plus = county65plus[['DP05_0001E', 'percent_65plus']]
county65plus = county65plus.rename(columns={'DP05_0001E': 'population_size'})
county65plus.describe()

       population_size  percent_65plus
count         3.22e+03         3220.00
mean          9.94e+04           17.10
std           3.19e+05            4.39
min           8.50e+01            3.30
25%           1.12e+04           14.30
50%           2.60e+04           16.80
75%           6.64e+04           19.40
max           1.00e+07           50.90

In [40]:
county65plus.sort_values('percent_65plus', ascending=False, inplace=True)
county65plus.head(30)

                                                    population_size  percent_65plus
Sumter County, Florida: Summary level: 050, sta...           108501            50.9
Charlotte County, Florida: Summary level: 050, ...           165783            36.8
Mineral County, Colorado: Summary level: 050, s...              733            36.6
Hooker County, Nebraska: Summary level: 050, st...              681            35.8
La Paz County, Arizona: Summary level: 050, sta...            20335            35.2
Citrus County, Florida: Summary level: 050, sta...           139654            34.4
Wheeler County, Oregon: Summary level: 050, sta...             1348            34.3
Highland County, Virginia: Summary level: 050, ...             2244            34.0
Real County, Texas: Summary level: 050, state:4...             3356            34.0
Alcona County, Michigan: Summary level: 050, st...            10550            34.0
Lancaster County, Virginia: Summary level: 050,...            11129            33.9
Sierra County, New Mexico: Summary level: 050, ...            11615            33.9
Llano County, Texas: Summary level: 050, state:...            19323            33.6
Highlands County, Florida: Summary level: 050, ...            98328            33.3
McIntosh County, North Dakota: Summary level: 0...             2759            33.1
Sarasota County, Florida: Summary level: 050, s...           392038            33.1
Northumberland County, Virginia: Summary level:...            12304            33.1
Catron County, New Mexico: Summary level: 050, ...             3583            32.7
Towns County, Georgia: Summary level: 050, stat...            10800            31.9
Hickory County, Missouri: Summary level: 050, s...             9335            31.5
Ontonagon County, Michigan: Summary level: 050,...             6298            30.6
Union County, Georgia: Summary level: 050, stat...            21725            30.5
Curry County, Oregon: Summary level: 050, state...            22338            30.4
Hinsdale County, Colorado: Summary level: 050, ...              874            30.1
Jefferson County, Washington: Summary level: 05...            30083            30.1
McMullen County, Texas: Summary level: 050, sta...              778            29.7
McPherson County, South Dakota: Summary level: ...             2263            29.7
Keweenaw County, Michigan: Summary level: 050, ...             2198            29.7
Indian River County, Florida: Summary level: 05...           142866            29.6
Baxter County, Arkansas: Summary level: 050, st...            41040            29.5

In [41]:
censusdata.exportcsv('county65plus.csv', county65plus)

In [42]:
import statsmodels.formula.api as sm

In [43]:
statedata = censusdata.download('acs5', 2015, censusdata.censusgeo([('state', '*')]),
                                ['B01001_001E', 'B19013_001E', 'B19083_001E',
                                 'C17002_001E', 'C17002_002E', 'C17002_003E', 'C17002_004E',
                                 'B03002_001E', 'B03002_003E', 'B03002_004E', 'B03002_012E',])

In [44]:
voting2016 = {
    censusdata.censusgeo((('state', '01'),)): 34.6,
    censusdata.censusgeo((('state', '02'),)): 37.7,
    censusdata.censusgeo((('state', '04'),)): 45.4,
    censusdata.censusgeo((('state', '05'),)): 33.8,
    censusdata.censusgeo((('state', '06'),)): 61.6,
    censusdata.censusgeo((('state', '08'),)): 47.2,
    censusdata.censusgeo((('state', '09'),)): 54.5,
    censusdata.censusgeo((('state', '10'),)): 53.4,
    censusdata.censusgeo((('state', '11'),)): 92.8,
    censusdata.censusgeo((('state', '12'),)): 47.8,
    censusdata.censusgeo((('state', '13'),)): 45.6,
    censusdata.censusgeo((('state', '15'),)): 62.3,
    censusdata.censusgeo((('state', '16'),)): 27.6,
    censusdata.censusgeo((('state', '17'),)): 55.4,
    censusdata.censusgeo((('state', '18'),)): 37.9,
    censusdata.censusgeo((('state', '19'),)): 42.2,
    censusdata.censusgeo((('state', '20'),)): 36.2,
    censusdata.censusgeo((('state', '21'),)): 32.7,
    censusdata.censusgeo((('state', '22'),)): 38.4,
    censusdata.censusgeo((('state', '23'),)): 47.9,
    censusdata.censusgeo((('state', '24'),)): 60.5,
    censusdata.censusgeo((('state', '25'),)): 60.8,
    censusdata.censusgeo((('state', '26'),)): 47.3,
    censusdata.censusgeo((('state', '27'),)): 46.9,
    censusdata.censusgeo((('state', '28'),)): 39.7,
    censusdata.censusgeo((('state', '29'),)): 38,
    censusdata.censusgeo((('state', '30'),)): 36,
    censusdata.censusgeo((('state', '31'),)): 34,
    censusdata.censusgeo((('state', '32'),)): 47.9,
    censusdata.censusgeo((('state', '33'),)): 47.6,
    censusdata.censusgeo((('state', '34'),)): 55,
    censusdata.censusgeo((('state', '35'),)): 48.3,
    censusdata.censusgeo((('state', '36'),)): 58.8,
    censusdata.censusgeo((('state', '37'),)): 46.7,
    censusdata.censusgeo((('state', '38'),)): 27.8,
    censusdata.censusgeo((('state', '39'),)): 43.5,
    censusdata.censusgeo((('state', '40'),)): 28.9,
    censusdata.censusgeo((('state', '41'),)): 51.7,
    censusdata.censusgeo((('state', '42'),)): 47.6,
    censusdata.censusgeo((('state', '44'),)): 55.4,
    censusdata.censusgeo((('state', '45'),)): 40.8,
    censusdata.censusgeo((('state', '46'),)): 31.7,
    censusdata.censusgeo((('state', '47'),)): 34.9,
    censusdata.censusgeo((('state', '48'),)): 43.4,
    censusdata.censusgeo((('state', '49'),)): 27.8,
    censusdata.censusgeo((('state', '50'),)): 61.1,
    censusdata.censusgeo((('state', '51'),)): 49.9,
    censusdata.censusgeo((('state', '53'),)): 54.4,
    censusdata.censusgeo((('state', '54'),)): 26.5,
    censusdata.censusgeo((('state', '55'),)): 46.9,
    censusdata.censusgeo((('state', '56'),)): 22.5,
}
voting2016 = pd.DataFrame.from_dict(voting2016, orient='index')
statedata['percent_democratic_pres_2016'] = voting2016

In [45]:
statedata = statedata.rename(columns={'B01001_001E': 'population_size'})
statedata.population_size = statedata.population_size / 100000
statedata = statedata.rename(columns={'B19013_001E': 'median_HH_income'})
statedata['median_HH_income'] = statedata['median_HH_income'] / 1000
statedata = statedata.rename(columns={'B19083_001E': 'gini_index'})
statedata.gini_index = statedata.gini_index * 100
statedata['percent_below_125_poverty'] = (statedata['C17002_002E'] + statedata['C17002_003E'] + statedata['C17002_004E']) / statedata['C17002_001E'] * 100
statedata['percent_nonhisp_white'] = statedata['B03002_003E'] / statedata['B03002_001E'] * 100
statedata['percent_nonhisp_black'] = statedata['B03002_004E'] / statedata['B03002_001E'] * 100
statedata['percent_hispanic'] = statedata['B03002_012E'] / statedata['B03002_001E'] * 100

In [46]:
assert (statedata['population_size'] == statedata['B03002_001E'] / 100000).all()
for column in ['C17002_001E', 'C17002_002E', 'C17002_003E', 'C17002_004E',
               'B03002_001E', 'B03002_003E', 'B03002_004E', 'B03002_012E',]:
    del statedata[column]

In [47]:
statedata = statedata.drop([censusdata.censusgeo([('state', '72')])])

In [48]:
statedata = statedata.reindex(columns=['percent_democratic_pres_2016', 'population_size', 'median_HH_income', 'percent_below_125_poverty', 'gini_index', 'percent_nonhisp_white', 'percent_nonhisp_black', 'percent_hispanic'])
statedata.describe()

       percent_democratic_pres_2016  population_size  median_HH_income  percent_below_125_poverty  gini_index  percent_nonhisp_white  percent_nonhisp_black  percent_hispanic
count                         51.00            51.00             51.00                      51.00       51.00                  51.00                  51.00             51.00
mean                          45.05            62.06             54.64                      19.44       46.22                  69.53                  10.91             11.20
std                           12.41            70.53              9.16                       3.94        2.14                  16.12                  10.77             10.06
min                           22.50             5.80             39.66                      11.84       41.81                  22.89                   0.44              1.37
25%                           36.10            17.34             47.55                      16.25       44.81                  58.43                   3.17              4.72
50%                           46.70            43.97             53.00                      20.08       46.26                  73.60                   7.12              8.84
75%                           52.55            68.46             60.68                      22.45       47.59                  81.23                  14.92             12.88
max                           92.80           384.21             74.55                      28.96       53.17                  93.88                  47.98             47.36

In [49]:
statedata.corr()

                              percent_democratic_pres_2016  population_size  median_HH_income  percent_below_125_poverty  gini_index  percent_nonhisp_white  percent_nonhisp_black  percent_hispanic
percent_democratic_pres_2016                          1.00             0.24              0.57                      -0.21        0.47                  -0.53                   0.34              0.26
population_size                                       0.24             1.00              0.03                       0.18        0.43                  -0.40                   0.11              0.53
median_HH_income                                      0.57             0.03              1.00                      -0.81       -0.09                  -0.27                  -0.06              0.11
percent_below_125_poverty                            -0.21             0.18             -0.81                       1.00        0.48                  -0.23                   0.39              0.19
gini_index                                            0.47             0.43             -0.09                       0.48        1.00                  -0.45                   0.61              0.28
percent_nonhisp_white                                -0.53            -0.40             -0.27                      -0.23       -0.45                   1.00                  -0.46             -0.63
percent_nonhisp_black                                 0.34             0.11             -0.06                       0.39        0.61                  -0.46                   1.00             -0.13
percent_hispanic                                      0.26             0.53              0.11                       0.19        0.28                  -0.63                  -0.13              1.00

In [50]:
result = sm.ols(formula=("percent_democratic_pres_2016 ~ population_size + median_HH_income"
                         "+ percent_nonhisp_black + percent_hispanic"), data=statedata).fit()
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
========================================================================================
Dep. Variable:     percent_democratic_pres_2016   R-squared:                       0.532
Model:                                      OLS   Adj. R-squared:                  0.492
Method:                           Least Squares   F-statistic:                     13.08
Date:                          Fri, 21 Aug 2020   Prob (F-statistic):           3.42e-07
Time:                                  10:06:58   Log-Likelihood:                -180.94
No. Observations:                            51   AIC:                             371.9
Df Residuals:                                46   BIC:                             381.5
Df Model:                                     4
Covariance Type:                      nonrobust
=========================================================================================
                            coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------
Intercept                -5.7076      7.801     -0.732      0.468     -21.409       9.994
population_size           0.0121      0.021      0.563      0.576      -0.031       0.055
median_HH_income          0.7715      0.138      5.603      0.000       0.494       1.049
percent_nonhisp_black     0.4551      0.120      3.790      0.000       0.213       0.697
percent_hispanic          0.2578      0.151      1.704      0.095      -0.047       0.562
==============================================================================
Omnibus:                        2.104   Durbin-Watson:                   2.420
Prob(Omnibus):                  0.349   Jarque-Bera (JB):                1.237
Skew:                           0.208   Prob(JB):                        0.539
Kurtosis:                       3.640   Cond. No.                         647.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""